.UpcomingEvents {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 100px;
    overflow: hidden;
}
@media screen and (max-width: 320px) {
    .UpcomingEvents {
        margin-bottom: 50px;
    }
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1880px;
    padding: 50px 200px;
}
@media screen and (max-width: 1690px) {
    .Container {
        padding: 50px 100px;
    }
}

@media screen and (max-width: 1460px) {
    .Container {
        padding: 0;
    }
}

@media screen and (max-width: 1220px) {
    .Container {
        gap: 0;
    }
}

.Title {
    position: relative;
    height: fit-content;
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .Title {
        width: 100%;
        padding: 0 20px;
    }
}

.Title h2 {
    font-size: 50px;
    margin-bottom: 50px;
    font-size: 4rem;
}
@media screen and (max-width: 1124px) {
    .Title h2 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 420px) {
    .Title h2 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 375px) {
    .Title h2 {
        font-size: 2.75rem;
    }
}

.EventCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    padding: 0 100px;
    gap: 30px;
}
@media screen and (max-width: 1124px) {
    .EventCards {
        padding: 0 50px;
    }
}

@media screen and (max-width: 768px) {
    .EventCards {
        padding: 50px;
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    .EventCards {
        padding: 35px;
    }
}

@media screen and (max-width: 420px) {
    .EventCards {
        padding: 20px;
    }
}

.Card1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
    border-radius: 30px;
    gap: 30px;
}
@media screen and (max-height: 670px) {
    .Card1 {
        height: 55vh;
    }
}
.Card1 .Left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
    border-radius: 30px;
    padding: 30px;
    background-color: #e8f2ee;
}
@media screen and (max-width: 680px) {
    .Card1 {
        flex-direction: column;
        height: fit-content;
    }
    .Card1 .Left {
        width: 100%;
        padding: 20px;
        height: fit-content;
    }
}
.Left h4 {
    font-size: 14px;
    letter-spacing: normal;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    border: 1px solid #3e3e3e63;
}

.Left h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 300;
    text-transform: capitalize;
}
@media screen and (max-width: 1124px) {
    .Left h3 {
        font-size: 24px;
    }
}

.Left p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
}
@media screen and (max-width: 1124px) {
    .Left p {
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) {
    .Left p {
        font-size: 14px;
    }
}

.Left .Buttons {
    display: flex;
    gap: 30px;
}

.Left button {
    height: 40px;
    padding: 10px 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background: #a9db51;

    background: linear-gradient(225deg, hsla(82, 66%, 59%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    background: -moz-linear-gradient(225deg, hsla(82, 66%, 59%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    background: -webkit-linear-gradient(225deg, hsla(82, 66%, 59%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#A8DB50", endColorstr="#60EFFF", GradientType=1);
}
.Button__inner {
    transition: all .3s ease-in-out;
    height: 80px;
    width: fit-content;
}

.Left button div {
    margin: 0;
    margin-bottom: 15px;
    overflow: hidden;
}

.Left button:hover .Button__inner {
    transform: translateY(-35px);
    transition: all .3s ease-in-out;
}
.Left button:nth-child(2) {
    border: 1px solid #3e3e3e;
    background: transparent;
}
@media screen and (max-width: 1124px) {
    .Left button {
        padding: 10px 20px;
        font-size: 16px;
    }
    .Left button:hover .Button__inner {
        transform: translateY(-33px);
    }
}

@media screen and (max-width: 375px) {
    .Left button {
        height: 30px;
        padding: 5px 10px;
        font-size: 14px;
    }
    .Left button:hover .Button__inner {
        transform: translateY(-30px);
    }
}

.Card1 .Right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 30%;
    height: 100%;
    text-align: right;
    border-radius: 30px;
}
@media screen and (max-width: 680px) {

    .Card1 .Right {
        width: 100%;
        height: 45vh;
    }
}

.Right h4 {
    font-size: 14px;
    letter-spacing: normal;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    border: 1px solid #3e3e3e63;
}

.Right h3 {
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.Right p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
}
@media screen and (max-width: 1124px) {
    .Right h3 {
        font-size: 24px;
    }
}

.Right p {
    font-size: 18px;
    margin-bottom: 40px;
}

@media screen and (max-width: 1124px) {
    .Right p {
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) {
    .Right p {
        font-size: 14px;
    }
}

.Right .Buttons {
    display: flex;
    gap: 30px;
}

.Right button {
    height: 40px;
    padding: 10px 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background: #a9db51;
    background: linear-gradient(225deg, hsla(82, 66%, 59%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    background: -moz-linear-gradient(225deg, hsla(82, 66%, 59%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    background: -webkit-linear-gradient(225deg, hsla(82, 66%, 59%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#A8DB50", endColorstr="#60EFFF", GradientType=1);
}
.Button__inner {
    transition: all .3s ease-in-out;
    height: 80px;
    width: fit-content;
}

.Right button div {
    margin: 0;
    margin-bottom: 15px;
    overflow: hidden;
}

.Right button:hover .Button__inner {
    transform: translateY(-35px);
    transition: all .3s ease-in-out;
}
.Right button:nth-child(1) {
    border: 1px solid #3e3e3e;
    background: transparent;
}
@media screen and (max-width: 1124px) {
    .Right button {
        padding: 10px 20px;
        font-size: 16px;
    }
    .Right button:hover .Button__inner {
        transform: translateY(-33px);
    }
}

@media screen and (max-width: 375px) {
    .Right button {
        height: 30px;
        padding: 5px 10px;
        font-size: 14px;
    }
    .Right button:hover .Button__inner {
        transform: translateY(-30px);
    }
}

.Card2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
    border-radius: 30px;
    gap: 30px;
}
@media screen and (max-height: 670px) {
    .Card2 {
        height: 55vh;
    }
}
.Card2 .Left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
    border-radius: 30px;
}
.Card2 .Right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    height: 100%;
    background-color: #e8f2ee;
    border-radius: 30px;
    padding: 30px;
}
@media screen and (max-width: 680px) {
    .Card2 {
        flex-direction: column;
        height: fit-content;
    }

    .Card2 .Right {
        height: fit-content;
        width: 100%;
        padding: 20px;
    }
    .Card2 .Left {
        width: 100%;
        height: 45vh;
    }
}
.EventsHero__Image {
    position: relative;
    width: 100%;
    height: 100%;
}

.EventsHero__Image .Image {
    border-radius: 30px;
}