.EventHero {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

@media screen and (max-width: 420px) {
    .Event {
        height: fit-content;
    }
}

.Container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 50px 200px;
    gap: 30px;
    max-width: 1880px;
}

@media screen and (max-width: 1690px) {
    .Container {
        padding: 50px 100px;
    }
}

@media screen and (max-width: 1460px) {
    .Container {
        padding: 50px 0;
    }
}

@media screen and (max-width: 1220px) {
    .Container {
        gap: 0;
    }
}
@media screen and (max-width: 420px) {
    .Container {
        padding: 0;
        padding-bottom: 50px;
    }
}

.Top {
    position: relative;
    display: flex;
    width: 100%;
    height: 40vh;
    padding: 0 100px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1124px) {
    .Top {
        padding: 0 50px;
    }
}

@media screen and (max-width: 768px) {
    .Top {
        padding: 50px;
        height: 55vh;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 680px) {
    .Top {
        flex-direction: column;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 520px) {
    .Top {
        padding: 35px;
    }
}

@media screen and (max-width: 420px) {
    .Top {
        padding: 20px;
    }
}

@media screen and (max-width: 375px) {
    .Top {
        height: 65vh;
    }
}
@media screen and (max-width: 320px) {
    .Top {
        height: fit-content;
    }
}
.Title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 65%;
    height: 100%;
}

.CTA {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 35%;
    height: 100%;
}
@media screen and (max-width: 680px) {
    .Title {
        width: 100%;
        margin-bottom: 30px;
    }

    .CTA {
        justify-content: flex-start;
        width: 100%;
        height: fit-content;
    }
}

.Top h2 {
    margin-bottom: 0;
    font-size: 50px;
    font-size: 4rem;
}
.Top h3 {
    font-size: 2.5rem;
    line-height: -10px;
    margin-bottom: 30px;
}
.Top h4 {
    font-size: 14px;
    letter-spacing: normal;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    border: 1px solid #3e3e3e63;
}
@media screen and (max-width: 1124px) {
    .Title p {
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) {
    .Title p {
        font-size: 14px;
    }
}

@media screen and (max-width: 1124px) {
    .Title h2 {
        font-size: 3.5rem;
    }
    .Title h3 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 420px) {
    .Title h2 {
        font-size: 3rem;
    }
        .Title h3 {
            font-size: 1.5rem;
            letter-spacing: normal;
        }
}

@media screen and (max-width: 375px) {
    .Title h2 {
        font-size: 2.75rem;
    }
}

.Top button {
    height: 40px;
    width: fit-content;
    padding: 10px 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background: hsla(82, 66%, 59%, 1);

    background: linear-gradient(225deg, hsla(82, 66%, 59%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    background: -moz-linear-gradient(225deg, hsla(82, 66%, 59%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    background: -webkit-linear-gradient(225deg, hsla(82, 66%, 59%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#A8DB50", endColorstr="#60EFFF", GradientType=1);
}
.Button__inner {
    transition: all .3s ease-in-out;
    height: 80px;
    width: fit-content;
}

.Top button div {
    margin: 0;
    margin-bottom: 15px;
    overflow: hidden;
}

.Top button:hover .Button__inner {
    transform: translateY(-35px);
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 1124px) {
    .Top button {
        padding: 10px 20px;
        font-size: 16px;
    }
.Top button:hover .Button__inner {
    transform: translateY(-33px);
}
}

@media screen and (max-width: 375px) {
    .Top button {
        height: 30px;
        padding: 5px 10px;
        font-size: 14px;
    }
        .Top button:hover .Button__inner {
            transform: translateY(-30px);
        }
}

.Bottom {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 30vh;
    padding: 0 100px;
    gap: 30px;
}

@media screen and (max-width: 1124px) {
    .Bottom {
        padding: 0 50px;
    height: 30vh;
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .Bottom {
        align-items: flex-start;
        padding: 0 50px;
    }
}

@media screen and (max-width: 520px) {
    .Bottom {
        padding: 0 35px;
        height: 30vh;
        gap: 10px;
    }
}

@media screen and (max-width: 420px) {
    .Bottom {
        padding: 20px;
        height: fit-content;
    }
}

.EventHero__Image {
    position: relative;
    width: 100%;
    height: 30vh;
}

.EventHero__Image .Image {
    border-radius: 30px;
}