.Footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    background-color: #e8f2ee;
}

.Container {
    padding: 100px 200px;
    max-width: 1880px;
}
@media screen and (max-width: 1440px) {
    .Container {
        padding: 100px;
    }
}

@media screen and (max-width: 1124px) {
    .Container {
        padding: 50px;
    }
}
@media screen and (max-width: 420px) {
    .Container {
        padding: 24px;
    }
}

.Inner {
display: flex;
    justify-content: center;
    align-items: flex-start;
}
@media screen and (max-width: 768px) {
    .Inner {
        flex-direction: column;
    }
}
.Left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    height: 100%;
}
@media screen and (max-width: 768px) {
    .Left {
        width: 100%;
        margin-top: 50px;
    }
}
@media screen and (max-width: 500px) {
    .Left {
        align-items: center;
        text-align: center;
    }
}

.Logo__image {
    position: relative;
    width: 100px;
    height: 50px;
    margin-bottom: 50px;
}
.Left p {
    font-size: 18px;
    margin-bottom: 30px;
}
.Socials {
    display: flex;
    gap: 20px;
}

.Right {
    display: flex;
    width: 70%;
    height: fit-content;
    justify-content: space-around;
    padding: 0 100px;
}
@media screen and (max-width: 768px) {
    .Right {
        justify-content: flex-start;
        gap: 50px;
        width: 100%;
        padding: 0;
        margin-top: 50px;
    }
}
@media screen and (max-width: 500px) {
    .Right {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
}

.Right h3 {
    font-size: 24px;
    margin-bottom: 35px;
    letter-spacing: normal;
}
@media screen and (max-width: 420px) {
    .Right h3 {
        font-size: 22px;
    }
}

.Right ul {
    list-style: none;
}

.Right ul li {
    margin-bottom: 28px;
    font-size: 18px;
}
@media screen and (max-width: 420px) {
    .Right ul li {
        font-size: 16px;
    }
}
.Copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
        padding: 20px 50px;
    height: fit-content;
    background-color: #f7f7f7;
    text-align: center;
}
.Copyright p {
    font-size: 16px;
}
@media screen and (max-width: 768px) {
    .Copyright {
        padding: 20px 50px;
    }
}
@media screen and (max-width: 460px) {
    .Copyright {
        padding: 24px;
        font-size: 14px;
    }
        .Copyright p {
            font-size: 14px;
        }
}
@media screen and (max-width: 375px) {
    .Copyright {
        padding: 10px 20px;
    }
}